@font-face {
  font-family: "Roboto Regular";
  src: url("fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


body {
  min-width: 1200px;

  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
  color: #ffffff;
  font-weight: 400;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.inner-page-content {
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 10px 23px;

  font-family: inherit;
  text-align:center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  border-radius: 25px;
  border: none;
  background-image: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172,16,0,0.64);

  cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(180deg, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 1px 2px #ac1000;
}

.button:active {
  background-image: linear-gradient(180deg, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.link {
  font: inherit;
  color: inherit;
  text-decoration-color: rgba(255,255,255,0.2);
}

.link:hover,
.link:active {
  color: #ffbc9e;
  text-decoration-color: rgba(279,172,159,0.3);
}

.main-navigation {
  display: flex;
  align-items: center;
}

.main-navigation .logo {
  margin-top: 10px;
  margin-right: 14px;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.main-menu > li {
  padding: 10px 0;
}

.main-menu-item {
  display: block;
  margin-right: 8px;
  padding: 8px 10px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: inherit;
  text-decoration-color: rgba(255,255,255,0.2);
}

.main-menu .active {
  border-radius: 15px;
  background-color: #d07058;
  text-decoration: none;
}

.main-menu-item:hover {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 15px;
  text-decoration: none;
}

.main-menu-item:active {
  box-shadow: inset 0 2px 0 1px #696969;
  background-color: #ededed;
}

.catalog {
  position: relative;
}

.sub-menu {
  display: none;

  position: absolute;
  left: -10px;

  margin-top: 5px;

  z-index: 5;

  font-size: 14px;
  line-height: 16px;

  border-radius: 5px;
  background-color: #f8f7f4;
}

.main-menu > li:hover .sub-menu {
  display: block;
}

.sub-menu-item {
  display: block;

  width: 105px;
  padding: 5px 20px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
}

.sub-menu .new {
  padding: 15px 20px;
  border-bottom: 1px solid rgba(53,53,53,0.2);
  font-weight: 700;
}

.sub-menu-item:hover {
  background-color: #fbded7;
}

.sub-menu-item:active {
  background-color: #f6b5a5;
}

.sub-menu .active {
  color: #ffffff;
  background-color:#d07058;
}

.user-block {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
}

.user-block > li {
  padding: 10px 0;
}

.user-block-item {
  position: relative;
  margin-left: 10px;
}

.user-block-btn {
  padding: 10px 15px;

  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  color: inherit;
  font-weight: 500;

  border: none;
  border-radius: 16px;
  background-color: rgba(255,255,255,0.2);

  cursor: pointer;
}

.user-block-btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.search-btn {
  width: 32px;
  height: 32px;

  background-image: url("../img/loupe-white.svg");
  background-repeat: no-repeat;
  background-position: 7px 7px;
}

.search-btn:hover {
  background-image: url("../img/loupe-black.svg");
}

.modal-content {
  position:absolute;
  right: 0px;
  z-index: 5;

  margin-top: 5px;
  padding: 20px;
  padding-bottom: 0;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 #000000;
}

.modal-field {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;

  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  border: 1px solid #999999;
  border-radius: 5px;
}

.modal-field:hover {
  border: 2px solid rgba(154,154,154,0.52);
}

.modal-field:focus {
  border: 2px solid rgba(46,136,228,0.52);
}

.search {
  display: none;

  width: 302px;
}

.user-block li:first-child:hover .search,
.user-block li:nth-child(2):hover .sign-in,
.user-block li:nth-child(3):hover .basket-items {
  display: block;
}

.sign-in-btn {
  padding-left: 45px;

  background-image: url("../img/entrance-white.svg");
  background-repeat: no-repeat;
  background-position: 15px 9px;
}

.sign-in-btn:hover {
  background-image: url("../img/entrance-black.svg");
}

.sign-in {
  display: none;

  width: 238px;
}

.sign-in-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sign-in a {
  display: block;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration-color: rgba(0,0,0,0.3);
}

.basket-btn {
  padding-left: 45px;
  text-decoration: none;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 15px 10px;
}

.basket-btn:hover {
  background: url("../img/basket-red.svg") no-repeat;
  background-color: #ffffff;
  background-position: 15px 10px;
}

.basket-items {
  display: none;
  margin-top: 13px;
  padding: 10px 15px;
  padding-bottom: 60px;

  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.basket-items-table {
  width: 510px;
  border-collapse: collapse;
}

.basket-items-table td {
  padding: 18px 0;
}

.cancel {
  width: 15px;

  background: url("../img/cross-small.svg") no-repeat;
  background-position: 0 20px;
}

.item-name {
  position: relative;
  width: 280px;
}

.item-name::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  vertical-align: top;
  width: 33px;
  height: 33px;

  border-radius: 50%;
}

.item1::before {
  background: url("../img/basket-ice-cream1.png") no-repeat;
  background-position: 0 0;
}

.item2::before {
  background: url("../img/basket-ice-cream2.png") no-repeat;
  background-position: 0 0;
}

.item-name span {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  padding-left: 55px;
}

.item-weight {
  text-align: right;
  vertical-align: top;
  padding-bottom: 15px;
}

.kilo-price {
  text-align: left;
  vertical-align: top;
  color: #999999;
}

.item-total {
  text-align: center;
  vertical-align: top;
}

.basket-total {
  text-align: right;
  padding: 0;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;

  border-top: 1px solid #cacac7;
}

.basket-items .button {
  position: absolute;
  right: 15px;
  bottom: 23px;

  padding: 10px 15px;
}

header .container {
  position: relative;
}

.schedule {
  position: absolute;
  right: 26px;
  top: 60px;

  width: 170px;
  text-align: right;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.schedule span {
  display: block;
  margin-bottom: 4px;
}

.phone-number {
  display: block;

  font: inherit;
  font-size: 22px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.slider {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  min-height: 570px;
}

.slider input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.slider-controls {
  position: absolute;
  left: 0;
  bottom: 63px;
  z-index: 5;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #ffffff;

  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255,255,255,0.4);
}

#slider-1:checked ~ .slider-controls label[for="slider-1"],
#slider-2:checked ~ .slider-controls label[for="slider-2"],
#slider-3:checked ~ .slider-controls label[for="slider-3"] {
  background-color: #ffffff;
}

.slide {
  display: none;
  padding-top: 314px;
  text-align: center;
}

.slide-1 {
  background: url("../img/slider_ice-cream1.png") no-repeat;
  background-position: top center;
}

.slide-2 {
  background: url("../img/slider_ice-cream2.png") no-repeat;
  background-position: top center;
}

.slide-3 {
  background: url("../img/slider_ice-cream3.png") no-repeat;
  background-position: top center;
}

.slide h4 {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 31px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slide .button {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 40px;
  padding: 10px 40px;

  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 0 5px rgba(160,32,11,0.76);

  border-radius: 30px;
}

.slide .button:hover {
  box-shadow: 0 2px 2px #ac1000;
}

.slide .button:active {
  box-shadow: inset 0 2px 2px #942718;
}

#slider-1:checked ~ .slide-list .slide-1,
#slider-2:checked ~ .slide-list .slide-2,
#slider-3:checked ~ .slide-list .slide-3{
  display: block;
}

/*
#slider-1:checked ~ .main-page {
  background-color: #849d8f;
}

#slider-2:checked ~ .main-page {

  background-color: #8996a6;

}

#slider-3:checked ~ .main-page {

  background-color: #9d8b84;

}
*/
.special-offer {
  margin-bottom: 40px;
}

.special-offer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  margin-bottom: 10px;
}

.special-offer-item {
  position: relative;

  width: 520px;
  padding: 15px 20px;
  border-radius: 10px;
}

.special-offer li:first-child {
  background-image: url("../img/bg-raspberry.jpg");
}

.special-offer li:nth-child(2) {
  background-image: url("../img/bg-chocolate.jpg");
}

.special-offer h3 {
  margin: 0;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.special-offer p {
  margin-top: 15px;
  padding: 0;
  padding-bottom: 80px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.special-offer .button {
  position: absolute;
  right: 20px;
  bottom: 23px;
}

.hits-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  margin-bottom: 28px;
}

.hits-item {
  position: relative;
  width: 267px;
  margin-bottom: 10px;

  text-align: center;
}

.hits-item::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  border-radius: 50%;
  background: url("../img/hit.svg") no-repeat;
}

.price {
  position: absolute;
  top: 165px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.price span {
  font-size: 30px;
  line-height: 45px;
}

.hits-item img {
  margin-bottom: 10px;
}

.hits-item .description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.advantages {
  margin-bottom: 40px;
  padding: 25px 20px;
  padding-bottom: 7px;

  color: #323232;

  border-radius: 14px;
  background-image: url("../img/bg-waffle.png");
}

.advantages b {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 10px;
}

.advantages-list li {
  position: relative;

  width: 480px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 55px;
  margin-right: 5px;

  font-size: 16px;
  line-height: 22px;
}

.advantages-list li::before {
  content: "";

  position: absolute;
  top:-2px;
  left: 0px;

  width: 49px;
  height: 49px;
  border-radius: 50%;
}

.advantages-list li:first-child::before {
  background: url("../img/ice-cream.svg")
}

.advantages-list li:nth-child(2)::before {
  background: url("../img/cow.svg")
}

.advantages-list li:nth-child(3)::before {
  background: url("../img/eco.svg")
}

.advantages-list li:nth-child(4)::before {
  background: url("../img/thermometer.svg")
}

.column-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 40px;
}

.column {
  width: 520px;
  padding: 25px 20px;
  border-radius: 12px;
}

.blog-news {
  color: #323232;
  background: url("../img/bg-strawberry.jpg") no-repeat;
  background-position: 15% 40%;
}

.blog-news p {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-news a {
  display: block;
  width: 300px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: inherit;
}

.blog-news a:hover,
.blog-news a:active {
  color: #e84d37;
  text-decoration-color: rgba(236,89,60,0.3);
}

.subscription {
  width: 510px;
  padding-top: 30px;
  background-color: #f8f7f4;
  border: 5px solid red;
  border-image-source: url("../img/bg-post.svg");
  border-image-slice: 5;
  border-image-repeat: repeat;
}

.subscription label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 32px;

  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscription input[type="email"] {
  width: 335px;
  margin-bottom: 12px;
  margin-right: 4px;
  padding: 12px 15px;
  border-radius: 5px;
  border: 1px solid rgba(178,178,178,0.52);
}

.subscription input:hover {
  border: 2px solid rgba(154,154,154,0.52);
}

.subscription input:focus {
  border: 2px solid rgba(46,136,228,0.52);
}

.subscription .button {
  margin-left: 5px;
  padding: 10px 18px;
}

.contacts {
  position: relative;

  background: url("../img/map.png") no-repeat;
}

iframe {
  width: 100%;
}

.contact-info {
  position: absolute;
  top: 62px;
  left: 50%;

  width: 250px;
  margin-left: 270px;
  padding: 15px 25px;

  border-radius: 7px;
  background-color: #fffefe;
  color: #323232;
}

.contact-info p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

.contact-info span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contact-info .phone-number {
  padding: 0;
  margin-bottom: 5px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contact-info .button {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;

  z-index: 5;
  transform: translate(-50%, -50%);

  width: 428px;
  margin-left: 0;
  padding: 25px;
  padding-bottom: 80px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 #000000;
}


.feedback-show {
  display: block;
}

.feedback-close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;

  border: none;
  background: transparent;

  cursor: pointer;
}

.feedback-close::before,
.feedback-close::after {
  content: "";

  position: absolute;
  right: -4px;

  width: 22px;
  height: 2px;
  background-color: #231f20;
}

.feedback-close::before {
  transform: rotate(45deg);
}

.feedback-close::after {
  transform: rotate(-45deg);
}

.feedback p {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback .modal-field {
  border-color: rgba(178,178,178,0.52);
}

.feedback .button {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.breadcrumbs-item::after {
  content: "»";

  margin-right: 5px;
}

.breadcrumbs a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;

  font-size: 14px;
  line-height: 16px;
}

.page-heading {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 22px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  margin-bottom: 15px;
}

.filter-item {
  margin: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 0;
  border: none;
}

.filter-title {
  margin: 0;
  padding: 0 15px;
  padding-bottom: 7px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-item-list {
  margin: 0;
  padding: 8px 15px;

  background-color: rgba(255,255,255,0.2);
  border-radius: 16px;
}

.filter-item select {
  padding-right: 30px;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

  background-image: url("../img/select-arrow-white.svg");
  background-repeat: no-repeat;
  background-position: 170px center;
  background-color: rgba(255,255,255,0.2);
}

.filter-item select::-ms-expand {
  display: none;
}

.filter-item select:hover {
  color: #000000;
  background-image: url("../img/select-arrow-black.svg");
}

.filter-item option {
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;;
}

.filter-range {
  width: 220px;
}

.filter-range-wrapper {
  display: flex;
  flex-flow: wrap;
  align-content: flex-end;
  align-items: center;
}

.filter-range .filter-title {
  padding-right: 5px;
}

.price-controls {
  position: relative;
  margin-bottom: 2px;
}

.price-controls::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 60px;

  width: 7px;
  height: 2px;

  background-color: #ffffff;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.price-controls input {
  width: 27px;
  margin: 0;
  padding: 0;

  color: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px;
}

.range-controls .scale {
  height: 4px;
  background-color: rgba(255,255,255,0.5);
}

.range-controls .bar {
  width: 70%;
  height: 4px;
  margin-left: 20px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  bottom: 8px;

  width: 4px;
  height: 4px;

  border-radius: 50%;
  background-color: #ababab;
  border: 8px solid #ffffff;

  cursor: pointer;
}

.range-toggle:hover {
  border: 10px solid #ffffff;
}

.range-toggle-min {
  left: 15%;
}

.range-toggle-max {
  left: 70%;
}

.fat-content {
  display: flex;
  flex-wrap: wrap;

  padding: 5px 15px;
}

.fat-content li {
  margin-right: 15px;
}

.fat-content li:last-child {
  margin-right: 0;
}

.fat-content input[type="radio"],
.filler input[type="checkbox"] {
  display: none;
}

.fat-content .radio,
.filler .checkbox {
  position: relative;
  display: block;
  padding: 4px;
  padding-left: 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  cursor: pointer;
}

.fat-content .radio::before {
  content: "";

  position: absolute;
  left: 0;
  bottom: 2px;

  width: 25px;
  height: 25px;

  background: url("../img/radio-off.svg") no-repeat;
  opacity: 0.8;
}

.fat-content input[type="radio"]:checked + .radio::before {
  background: url("../img/radio-on.svg") no-repeat;
}

.fat-content .radio:hover::before {
  opacity: 1;
}

.fat-content .radio:disabled::before {
  opacity: 0.4;
}

.filler {
  display: flex;
  flex-wrap: wrap;

  padding: 5px 15px;
}

.filler li {
  margin-right: 20px;
}

.filler li:last-child {
  margin-right: 0;
}

.filler .checkbox::before {
  content: "";

  position: absolute;
  left: -3px;;
  bottom: 1px;

  width: 25px;
  height: 25px;

  background: url("../img/checkbox-off.svg") no-repeat;
  opacity: 0.8;
}

.filler input[type="checkbox"]:checked + .checkbox::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.filler .checkbox:hover::before {
  opacity: 1;
}

.filler .checkbox:disabled::before {
  opacity: 0.4;
}

.filters button {
  width: 140px;
  margin-bottom: 15px;
  padding: 7px;
  text-align: center;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  border: 2px solid #ffffff;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);

  cursor: pointer;
}

.filters button:hover {
  color: #000000;
  background-color: #ffffff;
}

.filters button:active {
  border: none;
  background-color: #ffffff;
  box-shadow: inset 0 2px 1px 1px #696969;
}

.product-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 10px;
  padding-bottom: 40px;
}

.product-item {
  position: relative;

  width: 267px;
  margin-bottom: 22px;

  text-align: center;
}

.product-item .description {
  display: block;
  text-align: center;

  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  text-decoration-color: rgba(255,255,255,0.2);
}

.show-product {
  display: none;

  position: absolute;
  top: -5px;
  right: -13px;
  z-index: 5;

  width: 294px;
  padding-top: 340px;
  padding-bottom: 20px;

  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
}

.product-item .button {
  margin: 0 auto;
}

.product-item:hover .show-product {
  display: block;
}

.paginator-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.paginator {
  display: flex;
  padding-top: 5px;
}

.paginator .btn {
  display: block;
  text-align: center;
  vertical-align: middle;

  min-width: 27px;
  min-height: 27px;

  font-family: inherit;
  font-size: 16px;
  line-height: 27px;
  color: inherit;

  border-radius: 50%;
  text-decoration: none;
}

.paginator .btn:hover {
  background-color: rgba(255,255,255,0.2);
}

.paginator .btn:active {
  color: #000000;
  background-color: #ffffff;
}

.paginator .previous,
.paginator .next {
  background: url("../img/icon-right-small.svg") no-repeat;
  background-position: 10px 7px;
}

.paginator .previous {
  transform: rotate(180deg);
}

.paginator .active {
  color: #000000;
  background-color: #ffffff;
}

.paginator .disabled {
  opacity: 0.2;
}

footer {
  padding-top:15px;
  padding-bottom: 15px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 15px;
}

.social-btn {
  display: block;

  width: 32px;
  height: 32px;
  margin-right: 10px;

  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 50%;
  opacity: 0.8;
}

.social-btn:hover {
  opacity: 1;
  border: 3px solid rgba(255,255,255,0.7);
}

/*
.social-btn:active {
  box-shadow: inset 0 2px 0 1px #888888;
}
*/
.twitter {
  background: url("../img/twitter.svg") no-repeat;
}

.instagram {
  background: url("../img/instagram.svg") no-repeat;
}

.facebook {
  background: url("../img/fb.svg") no-repeat;
}

.vkontakte {
  background: url("../img/vk.svg") no-repeat;
}

.add-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 56px;
  margin-left: -170px;
  padding-top: 10px;
}

.add-navigation a {
  display: block;

  padding: 5px;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 30px;

  font-size: 13px;
  line-height: 18px;
  color: inherit;
}

.add-navigation .active {
  font-weight: 700;
  background: url("../img/heart.svg") no-repeat;
  background-position: 8px 6px;
}

.copyright {
  margin: 0;
  padding: 0;
}

.copyright a {
  margin: 0;
  padding: 0;
}

.copyright p {
  margin: 0;
  padding-bottom: 0;
  font-size: 12px;
  line-height: 18px;
}
